<div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>
        This is a new service – your <a target="_blank" class="govuk-link" rel="noreferrer noopener" href="https://www.smartsurvey.co.uk/s/CMC_Feedback/?pageurl=/eligibility">feedback (opens in a new window) </a> will help us to improve it.
      </span>
    </p>
  </div>