<div class="govuk-form-group">
    <label class="govuk-label govuk-label--s" for="keyword-input">
      Keyword search
    </label>
  <input class="govuk-input" id="keyword-input" name="keyword" type="text" value="<%= filters.keyword %>">
</div>