<div class="govuk-form-group">
    <label class="govuk-label govuk-label--s" for="maximumAwardAmount-input">
      Maximum award amount
    </label>
    <div id="account-number-hint" class="govuk-hint">
        For example, £1,000,000
    </div>
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input" id="maximumAwardAmount-input" name="maximumAwardAmount" type="numeric" value="<%= filters.recipientName %>">
</div>
