<%
const awardTypes = [
  "Standalone award",
  "Award under a scheme"
];

const selectedAwardType = (filters.awardType || "").toLowerCase();
%>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="filter-award-type">
    Award type
  </label>

  <select class="govuk-select" id="filter-award-type" name="awardType">
    <option value="">Select an option</option>

    <% awardTypes.forEach(awardType => { %>
      <option value="<%= awardType %>" <%= selectedAwardType === awardType.toLowerCase() ? "selected" : "" %>>
        <%= awardType %>
      </option>
    <% }) %>
    
  </select>
</div>