<div class="govuk-form-group">
    <label class="govuk-label govuk-label--s" for="maximumAwardAmount-input">
      From
    </label>
    <div id="account-number-hint" class="govuk-hint">
        For example, £1,000,000
    </div>
    <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="maximumAwardAmount-input" name="maximumAwardAmount" type="numeric" value="<%= filters.maximumAwardAmount %>">
    </div>

    <label class="govuk-label govuk-label--s" for="maximumAwardAmount-input">
      To
    </label>
    <div id="account-number-hint" class="govuk-hint">
        For example, £2,000,000
    </div>
    <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="maximumAwardAmount-input" name="maximumAwardAmount" type="numeric" value="<%= filters.maximumAwardAmount %>">
    </div>
</div>