<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-8">
          Ad Hoc
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-3" class="govuk-accordion__section-content"
    aria-labelledby="accordion-default-heading-3">
    <div class="govuk-form-group">
      <select class="govuk-select" id="filter-adhoc" name="adhoc"
      aria-label="Drop down list that shows Filter by type">
        <option value=""></option>
        <% ["No","Yes"].forEach(function(adhoc){ %>
          <% if (filters.adhoc.toLowerCase() == adhoc.toLowerCase()) { %>
            <option value="<%= adhoc %>" selected> <%= adhoc %></option>
          <% }else{ %>
            <option value="<%= adhoc %>"> <%= adhoc %> </option>
          <% } %>
        <% })%>
      </select>
    </div>
  </div>
</div>