<div class="govuk-form-group">
    <label class="govuk-label govuk-label--s" for="recipientId-input">
      Recepient ID
    </label>
  <input class="govuk-input" id="recipientId-input" name="recipientId" type="text" value="<%= filters.recipientId %>">
</div>