<div class="govuk-form-group">
    <label class="govuk-label govuk-label--l" for="keyword-input">
      Keyword search
    </label>
  <input class="govuk-input" id="keyword-input" name="keywordSearch" type="text">
</div>