<div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
         Type
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small">
                  
                  
               <div class="govuk-grid-row">         
                 <div class="govuk-grid-column-one-half">  
                   
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyinstrument" id="subsidyinstrument-0" name="subsidyinstrument0" type="checkbox" value="Select all" data-aria-controls="conditional-subsidyinstrument-0"  "<% if (check_subsidyinstrument0) { %> checked <% } %>">
                    <label class="govuk-label govuk-checkboxes__label" for="subsidyinstrument-0">
                      Select all
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyinstrument" id="subsidyinstrument" name="subsidyinstrument1" type="checkbox" value="Direct Grant" data-aria-controls="conditional-subsidyinstrument" <% if (check_subsidyinstrument1) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="subsidyinstrument">
                      Direct Grant
                    </label>
                  </div>
          
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyinstrument" id="subsidyinstrument-1" name="subsidyinstrument2" type="checkbox" value="Equity" data-aria-controls="conditional-subsidyinstrument-1" <% if (check_subsidyinstrument2) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="subsidyinstrument-1">
                      Equity
                    </label>
                  </div>
          
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyinstrument" id="subsidyinstrument-2" name="subsidyinstrument3" type="checkbox" value="Guarantee" data-aria-controls="conditional-subsidyinstrument-2" <% if (check_subsidyinstrument3) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="subsidyinstrument-2">
                      Guarantee
                    </label>
                  </div>
          
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyinstrument" id="subsidyinstrument-3" name="subsidyinstrument4" type="checkbox" value="Loan" data-aria-controls="conditional-subsidyinstrument-3" <% if (check_subsidyinstrument4) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="subsidyinstrument-3">
                      Loan
                    </label>
                  </div>
          
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyinstrument" id="subsidyinstrument-4" name="subsidyinstrument5" type="checkbox" value="Purchase of goods or services above market prices" data-aria-controls="conditional-subsidyinstrument-4" <% if (check_subsidyinstrument5) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="subsidyinstrument-4">
                      Purchase of goods or services above market prices
                    </label>
                  </div>

                  </div>
      
                  <div class="govuk-grid-column-one-half">   
      

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyinstrument" id="subsidyinstrument-5" name="subsidyinstrument6" type="checkbox" value="Sale of goods or services below market prices" data-aria-controls="conditional-subsidyinstrument-5" <% if (check_subsidyinstrument6) { %> checked <% } %>>
                      <label class="govuk-label govuk-checkboxes__label" for="subsidyinstrument-5">
                        Sale of goods or services below market prices
                      </label>
                    </div>
            
            
            
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyinstrument" id="subsidyinstrument-6" name="subsidyinstrument7" type="checkbox" value="Tax measures (tax credit, or tax/duty exemption)" data-aria-controls="conditional-subsidyinstrument-6" <% if (check_subsidyinstrument7) { %> checked <% } %>>
                      <label class="govuk-label govuk-checkboxes__label" for="subsidyinstrument-6">
                        Tax measures (tax credit, or tax/duty exemption)
                       
                      </label>
                    </div>     
               
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyinstrument" id="subsidyinstrument-7" name="subsidyinstrument8" type="checkbox" value="Other" data-aria-controls="conditional-subsidyinstrument-7" <% if (check_subsidyinstrument8) { %> checked <% } %>>
                      <label class="govuk-label govuk-checkboxes__label" for="subsidyinstrument-7">
                        Other
                      </label>
                    </div>
            
                    <div class="govuk-checkboxes__conditional " id="conditional-subsidyinstrument-71"> 
                        <div class="govuk-form-group">
                           <label class="govuk-label govuk-label-subsidyinstrument" for="subsidyinstrument-7">
                            Enter the subsidy instrument you want to search by
                           </label>
                           <% if (check_subsidyinstrument9_pass) { %> %>
                          <input class="govuk-input govuk-input-subsidyinstrument govuk-!-width-full" id="subsidyinstrument-8" name="subsidyinstrument9" type="subsidyinstrument" spellcheck="false"  value= "<%= check_subsidyinstrument9_pass %>">
                          <% } else { %>
                          <input class="govuk-input govuk-input-subsidyinstrument govuk-!-width-full" id="subsidyinstrument-8" name="subsidyinstrument9" type="subsidyinstrument" spellcheck="false">
                          <% }  %>  
                        </div>
                      </div>
            
                           
                      </div>
                     </div>  
                    </div>  
                  </fieldset>
                  </div>
    </div>
  </div>