<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Purpose
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-1" class="govuk-accordion__section-content"
     role ="group">
    <!-- ****************************
     checkbox within accordion
     **************************** -->
    <div class="govuk-form-group">

      <div class="govuk-checkboxes govuk-checkboxes--small">


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyobjective " id="subsidyobjective-0"
                name="subsidyobjective0" type="checkbox" value="Select all"
                data-aria-controls="conditional-subsidyobjective-0" "<% if (check_subsidyobjective0) { %> checked <% } %>">
              <label class="govuk-label govuk-checkboxes__label" for="subsidyobjective-0">
                Select all
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyobjective" id="subsidyobjective-1"
                name="subsidyobjective1" type="checkbox" value="Culture or Heritage"
                data-aria-controls="conditional-subsidyobjective-1" "<% if (check_subsidyobjective1) { %> checked <% } %>">
              <label class="govuk-label govuk-checkboxes__label" for="subsidyobjective-1">
                Culture or Heritage
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyobjective" id="subsidyobjective-2"
                name="subsidyobjective2" type="checkbox" value="Employment"
                data-aria-controls="conditional-subsidyobjective-2" "<% if (check_subsidyobjective2) { %> checked <% } %>">
              <label class="govuk-label govuk-checkboxes__label" for="subsidyobjective-2">
                Employment
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyobjective" id="subsidyobjective-3"
                name="subsidyobjective3" type="checkbox" value="Energy efficiency"
                data-aria-controls="conditional-subsidyobjective-3" "<% if (check_subsidyobjective3) { %> checked <% } %>">
              <label class="govuk-label govuk-checkboxes__label" for="subsidyobjective-3">
                Energy efficiency
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyobjective" id="subsidyobjective-4"
                name="subsidyobjective4" type="checkbox" value="Environmental protection"
                data-aria-controls="conditional-subsidyobjective-4" "<% if (check_subsidyobjective4) { %> checked <% } %>">
              <label class="govuk-label govuk-checkboxes__label" for="subsidyobjective-4">
                Environmental protection
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyobjective" id="subsidyobjective-5"
                name="subsidyobjective5" type="checkbox" value="Infrastructure"
                data-aria-controls="conditional-subsidyobjective-5" "<% if (check_subsidyobjective5) { %> checked <% } %>">
              <label class="govuk-label govuk-checkboxes__label" for="subsidyobjective-5">
                Infrastructure
              </label>
            </div>


            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyobjective" id="subsidyobjective-6"
                name="subsidyobjective6" type="checkbox" value="Regional development"
                data-aria-controls="conditional-subsidyobjective-6" "<% if (check_subsidyobjective6) { %> checked <% } %>">
              <label class="govuk-label govuk-checkboxes__label" for="subsidyobjective-6">
                Regional development
              </label>
            </div>
          </div>

          <div class="govuk-grid-column-one-half">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyobjective" id="subsidyobjective-7"
                name="subsidyobjective7" type="checkbox" value="Rescue and restructuring subsidy"
                data-aria-controls="conditional-subsidyobjective-7" "<% if (check_subsidyobjective7) { %> checked <% } %>">
              <label class="govuk-label govuk-checkboxes__label" for="subsidyobjective-7">
                Rescue and restructuring subsidy
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyobjective" id="subsidyobjective-8"
                name="subsidyobjective8" type="checkbox" value="Research and development"
                data-aria-controls="conditional-subsidyobjective-8" "<% if (check_subsidyobjective8) { %> checked <% } %>">
              <label class="govuk-label govuk-checkboxes__label" for="subsidyobjective-8">
                Research and development
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyobjective" id="subsidyobjective-10"
                name="subsidyobjective10" type="checkbox" value="Training"
                data-aria-controls="conditional-subsidyobjective-10" "<% if (check_subsidyobjective10) { %> checked <% } %>">
              <label class="govuk-label govuk-checkboxes__label" for="subsidyobjective-10">
                Training
              </label>
            </div>


            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input govuk-checkboxes__input_subsidyobjective" id="subsidyobjective-11"
                name="subsidyobjective11" type="checkbox" value="Other"
                data-aria-controls="conditional-subsidyobjective-11" "<% if (check_subsidyobjective11_pass) { %> checked <% } %>">
              <label class="govuk-label govuk-checkboxes__label" for="subsidyobjective-11">
                Other
              </label>
            </div>

            <div class="govuk-checkboxes__conditional " id="conditional-subsidyobjective-111">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label-subsidyobjective" for="subsidyobjective-12">
                  Enter the subsidy purpose that you want to search for
                </label>
                <% if (check_subsidyobjective12_pass) { %> %>
                <input class="govuk-input govuk-input-subsidyobjective govuk-!-width-full" id="subsidyobjective-12"
                  name="subsidyobjective12" type="text" spellcheck="false" value="<%= check_subsidyobjective12_pass %>">
                <% } else { %>
                <input class="govuk-input govuk-input-subsidyobjective govuk-!-width-full" id="subsidyobjective-12"
                  name="subsidyobjective12" type="text" spellcheck="false">
                <% }  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>