<div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Sector
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small">
                  
                  
               <div class="govuk-grid-row">         
                 <div class="govuk-grid-column-one-half">   
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="spendingsector-accommodation" name="spendingsector1" type="checkbox" value="Accommodation" <% if (check_spendingsector1) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="spendingsector-accommodation">
                   Accommodation 
                    </label>
                  </div>
              
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="spendingsector-activities-of-extraterritorial" name="spendingsector2" type="checkbox" value="Activities of extraterritorial organisations and bodies" <% if (check_spendingsector2) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="spendingsector-activities-of-extraterritorial">
                   Activities of extraterritorial organisations and bodies
                    </label>
                  </div>
              
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="spendingsector-administrative" name="spendingsector3" type="checkbox" value="Administrative and support service activities" <% if (check_spendingsector3) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="spendingsector-administrative">
                   Administrative and support service activities
                    </label>
                  </div>
              
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="spendingsector-agriculture-forestry-and-fishing" name="spendingsector4" type="checkbox" value="Agriculture, forestry and fishing" <% if (check_spendingsector4) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="spendingsector-agriculture-forestry-and-fishing">
                      Agriculture, forestry and fishing 
                    </label>
                  </div>
              
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="spendingsector-arts-entertainment" name="spendingsector5" type="checkbox" value="Arts, entertainment and recreation" <% if (check_spendingsector5) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="spendingsector-arts-entertainment">
                   Arts, entertainment and recreation
                    </label>
                  </div>
              
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="spendingsector-construction" name="spendingsector6" type="checkbox" value="Construction" <% if (check_spendingsector6) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="spendingsector-construction">
                    Construction
                    </label>
                  </div>
              
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="spendingsector-education" name="spendingsector7" type="checkbox" value="Education" <% if (check_spendingsector7) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="spendingsector-education">
                   Education
                    </label>
                  </div>
              
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="spendingsector-Electricity-gas-steam-and-air-conditioning-supply" name="spendingsector8" type="checkbox" value="Electricity, gas, steam and air conditioning supply" <% if (check_spendingsector8) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="spendingsector-Electricity-gas-steam-and-air-conditioning-supply">
                    Electricity, gas, steam and air conditioning supply
                    </label>
                  </div>
              
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="spendingsector-financial-and-insurance-activities" name="spendingsector9" type="checkbox" value="Financial and insurance activities" <% if (check_spendingsector9) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="spendingsector-financial-and-insurance-activities">
                   Financial and insurance activities
                    </label>
                  </div>
              
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="spendingsector-human-health" name="spendingsector10" type="checkbox" value="Human health and social work activities" <% if (check_spendingsector10) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="spendingsector-human-health">
                   Human health and social work activities
                    </label>
                  </div>
              
              
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="spendingsector-information-and-communication" name="spendingsector11" type="checkbox" value="Information and communication" <% if (check_spendingsector11) { %> checked <% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="spendingsector-information-and-communication">
                   Information and communication
                    </label>
                  </div>

                  </div>
      
                  <div class="govuk-grid-column-one-half">   
      
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="spendingsector-Manufacturing" name="spendingsector12" type="checkbox" value="Manufacturing" <% if (check_spendingsector12) { %> checked <% } %>>
                      <label class="govuk-label govuk-checkboxes__label" for="spendingsector-Manufacturing">
                      Manufacturing
                      </label>
                    </div>
                
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="spendingsector-mining-and-quarrying" name="spendingsector13" type="checkbox" value="Mining and quarrying" <% if (check_spendingsector13) { %> checked <% } %>>
                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-mining-and-quarrying">
                         Mining and quarrying
                        </label>
                      </div>
                
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="spendingsector-professional" name="spendingsector14" type="checkbox" value="Professional, scientific and technical activities" <% if (check_spendingsector14) { %> checked <% } %>>
                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-professional">
                       Professional, scientific and technical activities
                        </label>
                      </div>
                
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="spendingsector-public-administrative" name="spendingsector15" type="checkbox" value="Public administrative and defence; compulsory social security" <% if (check_spendingsector15) { %> checked <% } %>>
                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-public-administrative">
                       Public administrative and defence; compulsory social security
                        </label>
                      </div>
                
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="spendingsector-real-estate-activities" name="spendingsector16" type="checkbox" value="Real estate activities" <% if (check_spendingsector16) { %> checked <% } %>>
                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-real-estate-activities">
                       Real estate activities
                        </label>
                      </div>
                
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="spendingsector-transportation-and-storage" name="spendingsector17" type="checkbox" value="Transportation and storage" <% if (check_spendingsector17) { %> checked <% } %>>
                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-transportation-and-storage">
                        Transportation and storage
                        </label>
                      </div>
                
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="spendingsector-undifferentiated-goods" name="spendingsector18" type="checkbox" value="Undifferentiated goods and services-producing activities of households for own use" <% if (check_spendingsector18) { %> checked <% } %>>
                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-undifferentiated-goods">
                       Undifferentiated goods and services-producing activities of households for own use
                        </label>
                      </div>
                
                
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="spendingsector-water-supply" name="spendingsector19" type="checkbox" value="Water supply; sewerage, waste management and remediation activities" <% if (check_spendingsector19) { %> checked <% } %>>
                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-water-supply">
                        Water supply; sewerage, waste management and remediation activities
                        </label>
                      </div>
                
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="spendingsector-wholesale-and-retail-trade" name="spendingsector20" type="checkbox" value="Wholesale and retail trade; repair of motor vehicles and motorcycles" <% if (check_spendingsector20) { %> checked <% } %>>
                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-wholesale-and-retail-trade">
                        Wholesale and retail trade; repair of motor vehicles and motorcycles
                        </label>
                      </div>
                           
                      </div>
                     </div>  
                    </div>  
                  </fieldset>
                  </div>
    </div>
  </div>