.env
node_modules
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/transparency-db-publicsearch-portal/app.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/index.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/beneficiaryname.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/exportexcel.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/filterroute.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/filtersearch.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/hidefilter.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/homepage.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/index.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/legalgrantingdate.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/noresults.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/pageperroute.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/pageroute.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/search-subsidytransparencydatabase.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/searchresults.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/searchresultsawardroute.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/searchresultsmeasureroute.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/spendingsector.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/subsidyinstrument.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/subsidyobjective.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/updateresults.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/updateresultspageperroute.js.html
coverage/lcov-report/transparency-db-publicsearch-portal/routes/updateresultsroute.js.html
test-report.html
