<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
  <title>GOV.UK - Public user search page</title>
  <%- include('../partials/headercss.ejs') %>
</head>

<!--**************************************************
Gov.UK public user search - header rendering design 
**************************************************** -->

<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  <%- include('../partials/header.ejs') %>


  <div class="govuk-width-container ">
    <%- include('../partials/banner.ejs') %>
    <main class="govuk-main-wrapper " id="main-content" role="main">

      <!--***********************************************************
               Gov.UK public user search - Breadcrumbs HTML rendering design 
               *********************************************************** -->


     <p> </p>

      <!--************************************
               Gov.UK public user search - Body design 
               ************************************ -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
            Search for UK subsidies</h1>
        </div>
      </div>

      <p> </p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <p class="govuk-body">A subsidy is a financial contribution that a public authority awards to a business - for
            example, a grant, soft loan or tax credit. Subsidies provide a benefit to the business that receives them.
            <p> </p>
            You can use this service to view and download details of subsidies that public authorities have awarded. For
            example, you can search for: </p>


          <ul class="govuk-list govuk-list--bullet">
            <li>a specific company</li>
            <li>the purpose of the subsidy</li>
            <li>industries that have received subsidies</li>
            <li>different types of subsidy</li>
            <li>the date that the subsidy was awarded</li>
          </ul>
          <p> </p>
          <p>You cannot use this service to apply for a subsidy. Visit GOV.UK to learn about <a href="/homepage"
              class="govuk-link">support for businesses.</a></p>

          
        </div>

      </div>

      <div>
        <p> </p>
        <form action="/beneficiaryname" method="POST">
          <button class="govuk-button" data-module="govuk-button" id="homepage_button_start_now" name="homepage_button"
            value="start_now">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="15.5" height="16"
              viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg></a>
          </button>

          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"
            id="homepage_button_show_results" name="homepage_button" value="show_results">
            Show all results
          </button>


        
        </form>

      </div>


    </main>
  </div>

  <!--************************************************
          Gov.UK public user search - Footer rendering design 
          ************************************************ -->



  <%- include('../partials/footer.ejs') %>
</body>

</html>