<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
  <title>GOV.UK - Public user search no result page</title>
  <%- include('../partials/headercss.ejs') %>
</head>

<%- include('../partials/header.ejs') %>



<div class="govuk-width-container ">

  <main id="main-content" role="main">
    <%- include('../partials/banner.ejs') %>
    <form action="/homepage" method="POST" class="govuk-main-wrapper ">

      <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"> -->
      <h1 class="govuk-heading-l">
        No results found for the search criteria
      </h1>
      <!-- </legend> -->

      <button class="govuk-button" data-module="govuk-button">
        New search </button>

    </form>

  </main>
</div>

<%- include('../partials/footer.ejs') %>

</html>