<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkboxes – Example – GOV.UK Design System</title>
    <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
  </head>
  <body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
      <%- include('../partials/banner.ejs') %>
    <main class="govuk-main-wrapper " id="main-content" role="main">  
      <form action="/subsidyinstrument" method="POST" >
      
        <div class="govuk-breadcrumbs ">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/homepage">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/beneficiaryname">Search subsidy awards</a>
            </li>
          </ol>
        </div>  


<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="waste-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Select the size of organisation for which you want to search
    </h1>
  </legend>
  <div id="waste-hint" class="govuk-hint">
    Explanation text for subsidy measure title helping user provide the context.Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do
        
  </div>
  <div class="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="sizeoforganisation-micro" name="sizeoforganisation" type="checkbox" value="micro">
      <label class="govuk-label govuk-checkboxes__label" for="sizeoforganisation-micro">
        Micro (1-9)
      </label>
    </div>

    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="sizeoforganisation-small" name="sizeoforganisation" type="checkbox" value="small">
        <label class="govuk-label govuk-checkboxes__label" for="sizeoforganisation-small">
         Small (10-49)
        </label>
      </div>


      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="sizeoforganisation-medium" name="sizeoforganisation" type="checkbox" value="medium">
        <label class="govuk-label govuk-checkboxes__label" for="sizeoforganisation-medium">
          Medium (50-249)
        </label>
      </div>


      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="sizeoforganisation-large" name="sizeoforganisation" type="checkbox" value="large">
        <label class="govuk-label govuk-checkboxes__label" for="sizeoforganisation-large">
         Large (250 and above)
        </label>
      </div>

     
  </div>

</fieldset>
</div>

<div>
   
  <button class="govuk-button" data-module="govuk-button">
  Continue </button>
      
</div>
</form> 

</main>
</div>

<%- include('../partials/footer.ejs') %>
      
  
    <script type="text/javascript" src="/assets/javascripts/example.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
    <script type="text/javascript" src="/assets/javascripts/govuk-frontend-radio.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
  </body>
</html>
