<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Button – Example – GOV.UK Design System</title>

    <link href="/assets/stylesheet/govuk-button.css" rel="stylesheet" type="text/css">
    

    <!--[if lt IE 9]>
      <script src="/javascripts/head-ie8-a371085ca251931cc9b5360c7da328f6.js"></script>
    <![endif]-->
    <script src="/javascripts/vendor/modernizr.js"></script>
  </head>
  <body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <!-- Disable browser validation for any examples that include form elements -->
    <form action="#" method="post" novalidate>
      
        
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

      
    </form>
    <script src="/javascripts/vendor/iframeResizer.contentWindow.js"></script>
    <script src="/javascripts/govuk-frontend-4471779aa159a597278fd23fc14d2c7b.js"></script>
    <script src="/javascripts/example-149b2c1c72d42e5afd271c8a89fed638.js"></script>
  </body>
</html>
