<!doctype html>
<html lang="en">

<head>
  <title>GOV.UK - Public user search page</title>
</head>

  <body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
     <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
      <%- include('../partials/banner.ejs') %>
    <main class="govuk-main-wrapper " id="main-content" role="main">  
      <form action="/sizeoforganisation" method="POST" >
      
        <div class="govuk-breadcrumbs ">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/homepage">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/beneficiaryname">Search subsidy awards</a>
            </li>
          </ol>
        </div>  


<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="waste-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Select a spending region(s) of the awards for which you want to search
    </h1>
  </legend>
  <div id="waste-hint" class="govuk-hint">
    Select all that apply.
  </div>
  <div class="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="spendingregion-North-East" name="spendingregion" type="checkbox" value="North East">
      <label class="govuk-label govuk-checkboxes__label" for="spendingregion-North-East">
        North East
      </label>
    </div>

    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="spendingregion-North-West" name="spendingregion" type="checkbox" value="North West">
        <label class="govuk-label govuk-checkboxes__label" for="spendingregion-North-West">
          North West
        </label>
      </div>


      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="spendingregion-Yorkshire-and-Humber" name="spendingregion" type="checkbox" value="Yorkshire and Humber">
        <label class="govuk-label govuk-checkboxes__label" for="spendingregion-Yorkshire-and-Humber">
          Yorkshire and Humber
        </label>
      </div>


      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="spendingregion-East-Midlands" name="spendingregion" type="checkbox" value="East Midlands">
        <label class="govuk-label govuk-checkboxes__label" for="spendingregion-East-Midlands">
          East Midlands
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="spendingregion-West-Midlands" name="spendingregion" type="checkbox" value="West Midlands">
        <label class="govuk-label govuk-checkboxes__label" for="spendingregion-West-Midlands">
          West Midlands
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="spendingregion-East-of-England" name="spendingregion" type="checkbox" value="East of England">
        <label class="govuk-label govuk-checkboxes__label" for="spendingregion-East-of-England">
          East of England
        </label>
      </div>


      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="spendingregion-London" name="spendingregion" type="checkbox" value="London">
        <label class="govuk-label govuk-checkboxes__label" for="spendingregion-London">
          London
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="spendingregion-South-East" name="spendingregion" type="checkbox" value=" South East">
        <label class="govuk-label govuk-checkboxes__label" for="spendingregion-South-East">
          South East
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="spendingregion-South-West" name="spendingregion" type="checkbox" value=" South West">
        <label class="govuk-label govuk-checkboxes__label" for="spendingregion-South-West">
          South West
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="spendingregion-Scotland" name="spendingregion" type="checkbox" value="Scotland">
        <label class="govuk-label govuk-checkboxes__label" for="spendingregion-Scotland">
          Scotland
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="spendingregion-Wales" name="spendingregion" type="checkbox" value="Wales">
        <label class="govuk-label govuk-checkboxes__label" for="spendingregion-Wales">
          Wales
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="spendingregion-Northern-Ireland" name="spendingregion" type="checkbox" value="Northern Ireland">
        <label class="govuk-label govuk-checkboxes__label" for="spendingregion-Northern-Ireland">
          Northern Ireland
        </label>
      </div>
  </div>

</fieldset>
</div>

<div>
   
  <button class="govuk-button" data-module="govuk-button">
  Continue </button>
      
</div>
</form> 

</main>
</div>

<%- include('../partials/footer.ejs') %>
      
  
    <script type="text/javascript" src="/assets/javascripts/example.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
    <script type="text/javascript" src="/assets/javascripts/govuk-frontend-radio.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
  </body>
</html>
