<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Radios with conditionally revealing content – Example – GOV.UK Design System</title>
  
    

    <!--[if lt IE 9]>
      <script src="/javascripts/head-ie8-a371085ca251931cc9b5360c7da328f6.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
  </head>
  <%- include('../partials/header.ejs') %>
  <body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <!-- Disable browser validation for any examples that include form elements -->
 
    <div class="govuk-width-container ">
        <main class="govuk-main-wrapper " id="main-content" role="main">     
            <form action="/beneficiaryname" method="POST" >  
           
           <div class="govuk-breadcrumbs ">
             <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item">
                 <a class="govuk-breadcrumbs__link" href="/homepage">Home</a>
               </li>
               <li class="govuk-breadcrumbs__list-item">
                 <a class="govuk-breadcrumbs__link" href="/subsidymeasuretitle">Search subsidy awards</a>
               </li>
             </ol>
           </div>
           


<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="subsidy-measure-title-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Do you know the subsidy measure title?
    </h1>
  </legend>
  <div id="subsidy-measure-title-hint" class="govuk-hint">
    Explanation text for subsidy measure title helping user provide the context.Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do
        
  </div>
  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="subsidymeasuretitle" name="subsidymeasuretitle" type="radio" value="email" data-aria-controls="conditional-subsidymeasuretitle">
          <label class="govuk-label govuk-radios__label" for="subsidymeasuretitle">
        Yes
      </label>
        </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-subsidymeasuretitle">
            <div class="govuk-form-group">
  <label class="govuk-label" for="subsidymeasuretitle-by-email">
    Enter subsidy measure title
  </label>
        <input class="govuk-input govuk-!-width-one-third" id="subsidymeasuretitle-by-email" name="Subsidy_measure_title" type="subsidymeasuretitle" spellcheck="false"></div>

          </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="subsidymeasuretitle-2" name="subsidymeasuretitle" type="radio" value="phone" data-aria-controls="conditional-subsidymeasuretitle-2">
          <label class="govuk-label govuk-radios__label" for="subsidymeasuretitle-2">
        No
      </label>
        </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-subsidymeasuretitle-2">
           
    
         
  </div>

</fieldset>
</div>
<div>
           
    <button class="govuk-button" data-module="govuk-button">
    Continue </button>
         
</div>
</form> 

</main>
</div>


<%- include('../partials/footer.ejs') %>
      
    </form>
    <script type="text/javascript" src="/assets/javascripts/example.js"></script>
    <script type="text/javascript" src="/assets/javascripts/govuk-frontend-radio.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
  </body>
</html>
