.td-overflow-format {
  max-width: 190px; 
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.new-grid-width {
  width: 1100px;
  margin-left: -65px;
  margin-top: 10px;
}

#filter-form > .govuk-form-group, .filter-date-input > .govuk-form-group{
  background-color:#f3f2f1;
  margin-bottom: 10px;
  padding:1rem;
}

#filter-form .govuk-date-input, #filter-form .govuk-input__wrapper{
  margin-bottom: 10px;
}

#filters-container select{
  background-color:#ffffff;
  width: 100%;
}

#filters-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom:1rem;
}

.filter-scroll-box {
  max-height: 150px;
  overflow-y: auto;
  padding: 10px;
  background-color: #ffffff;
}

.button-full-width{
  width: 100%;
}

.app-summary-list--compact {
  margin-bottom: 10px;
}

.app-summary-list--compact .govuk-summary-list__key,
.app-summary-list--compact .govuk-summary-list__value,
.app-summary-list--compact .govuk-summary-list__actions {
  padding-top: 5px;
  padding-bottom: 5px;
}

.govuk-date-input__item{
  margin-right: 10px;
}

.filter-background-override{
  background-color: white;
  padding: 5px;
}

/* Bug with float causes background to not render correctly */
.filter-background-override .filter-float-override-none{
  float:none;
}