@use "pkg:govuk-frontend" as * with (
  $govuk-assets-path: "/assets/"
);

@use "filters";

@use "summary-list";

.button-full-width {
  width: 100%;
}

.govuk-date-input__item {
  margin-right: govuk-spacing(2);
}